In [1]:
"this is a string"

[1] "this is a string"

# this is a string

In [3]:
# this is a string

In [6]:
# text string
my_string <- "programming with data is fun"

print(my_string)

[1] "programming with data is fun"

_this string is now in italics_

In [7]:
# another text string
x <- "isn't this kooky?"

print(x)

[1] "isn't this kooky?"

In [8]:
print(x, quote = FALSE)

[1] isn't this kooky?

In [9]:
for (i in 1:5) {
    print(i+1)
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [10]:
for (i in 0:5) {
    print(i+1)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [11]:
# simply print with 'cat()'
cat(x)

isn't this kooky?

In [12]:
# concatenate and print
cat(x, "I'm coding with R!")

isn't this kooky? I'm coding with R!

In [13]:
cat("Loooooooooong strings", "can be displayed", "in a nice format", 
    "by using the 'fill' argument", fill = 30)

Loooooooooong strings
can be displayed
in a nice format
by using the 'fill' argument

In [15]:
1:19

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19

In [16]:
sum(1:19)

[1] 190

In [17]:
x = c(3,5,8,9)

In [18]:
x[2]

[1] 5

In [19]:
x[3]

[1] 8

In [20]:
y = c("Jack", "Queen", "King")

In [21]:
matrix(y,4,3,byrow=T)

     [,1] [,2]  [,3]
[1,] Jack Queen King
[2,] Jack Queen King
[3,] Jack Queen King
[4,] Jack Queen King

In [22]:
matrix(y,2,3,byrow=T)

     [,1] [,2]  [,3]
[1,] Jack Queen King
[2,] Jack Queen King

In [24]:
employee <- c("John Doe", "Peter Gynn", "Jolie Hope")
salary <- c(21000, 23400, 26800)
startdate <- as.Date(c("2010-11-1", "2008-3-25", "2007-3-14"))
employ.data <- data.frame(employee, salary, startdate)
employ.data <- data.frame(employee, salary, startdate, stringsAsFactors = FALSE)
employ.data

  employee   salary startdate
1 John Doe   21000  2010-11-01
2 Peter Gynn 23400  2008-03-25
3 Jolie Hope 26800  2007-03-14